* {
    font-family: Arial, sans-serif;
    padding: 0%;
    margin-left: 0%;
    margin-right: 0%;
}

body {
    margin-top: 0%;
}

nav {
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
}

.navbar {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 0%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 0%;
}

.navbar-links {
    text-decoration: none;
    color: inherit;
}

main {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin-top: 0%;
    background-image: url("../images/ST76Hendel.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

#main-header {
    margin-top: 0%;
}   