* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100vh;
}

nav {
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
}

.navbar {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    height: 8vh;
}

.navbar-links {
    text-decoration: none;
    color: inherit;
}

main {
    display: block;
    justify-content: center;
    background-image: url("../images/ST76Hendel.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

#main-header {
    text-align: center;
}   