* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100vh;
}

nav {
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    z-index: 2;
}

.navbar {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    height: 8vh;
}

.navbar-links {
    text-decoration: none;
    color: inherit;
}

main {
    position: relative;
    display: block;
    color: white;
    justify-content: center;
    background-image: url("../images/ST76Hendel.png");
    background-repeat: no-repeat;
    background-position: center;
    /*background-attachment: fixed;*/
    background-size: cover;
    height: 100vh;
}

#main-header {
    position: relative;
    top: 6%;
    text-align: center;
}

div {
    position: absolute;
    width: 70vw;
    top: 30%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: bold;
}